.club-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.workout-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 50px;
}
.club-tittle{
    color: rgb(32, 81, 81);
    font-size: 45px;
    margin-left: 60px;
}
.club-tittle-span{
    color:rgb(88, 154, 132);
}
.calculation-container{
    background-color: rgb(121, 204, 176);
    text-align: center;
}